
#section {
    position:relative;
    display:inline-block;
    min-height:700px;
}
#main {
    position: relative;
    width: 70%;
    height: 400px;
    float:left;
}
#main img {
    width:100%;
    height:100%;
}
#aside {
    width:25%;
    position:relative;
    float:right;
}
.history_main {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}
.history_list {
    width: 100%;
    position:relative;
}
.history_list > div {
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
}
.history_list  img {
    width: 100%;
    height: 100%;
}


.border {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    position:relative;
    overflow: hidden;
}
.border > div {
    position:absolute;
    padding: 3px 0;
    width:100%;
    bottom:0;
    display:inline;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}

.explain-2, .explain-3 { display: none;}

.scale {
    transition: all 0.5s;
    transform: scale(1.1);

}
.smaller {
    transition: all 0.5s;
    transform: scale(1);
}