

/* 스와이퍼 관련 디자인 */
.swiper-container {
    width: 55%;
    height: 400px;
    float: left;
    margin-right: 20px;
}

.swiper-image{
    width: 100%;
    height: 100%;
    z-index: inherit;
}

/*내용 부분 디자인 */
#wrapper{
    z-index: -20;
    margin: 80px auto 0 auto;
    width: 85vw;
}
#wrapper h1{
    text-align: center;
    padding-bottom: 20px;
}
.content1,.content2,.content3,.content4,.content5{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

/* 스크롤을 할때 나오는 버튼 디자인 */
footer button{position: fixed; right: 1%; bottom: 15px; width: 33px; height: 33px; display: none;}
footer button i {font-size: 2em; color: rgb(22, 160, 133);}



@media screen and (max-width: 768px){
    .swiper-container {
        width: 100%;
        height: 400px;
        float: none;
        margin-top: 15px;
    }

    .headerbar{
        min-width: 479px;
        width: 90vw;
    }

    .introduce_place{
        padding-top: 10px;
    }
    nav>ul>li{
        display: block;
        margin: 5px auto;
    }
    
}

@media screen and (max-width: 480px){
    .swiper-container {
        width: 100%;
        height: 250px;
        float: none;
        margin-top: 15px;
    }

    .headerbar{
        min-width: 320px;
        width: 100vw;
    }
    
    #headerdropdown .headerbar{
        width: 100vw;
    }
    .introduce_place{
        padding-top: 7px;
    }
    
    h1{
        font-size: 25px;
        font-weight: bold;
    }
}