* {margin:0; padding:0;}
ul {list-style: none;}
button {border: none; background: none; cursor: pointer;}
a {text-decoration: none; color: black;}
header {
    width: 90vw;
    max-width: 1200px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%);
}
header>div {width: 120px;}
header>div a {display:block; width: 100%;}
header>div i {
    font-size: 40px;
    color: rgb(22, 160, 133);
    padding: 5px 10px;
}
header>div p{
    display: flex;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 35px;
}
header>div p>span {color: white;}
header>button {
    position: absolute;
    right: 20px;
    top: 40%;
    font-size: 10px;
}
/* 기본 설정
div {
    border: 1px solid red;
    box-sizing: border-box;
}
*/
body {

    max-width: 1138px;
    margin: auto;
    padding: 0;
    padding-top: 50px;
}
h1 {
    text-align: center; font-weight:bold;
}
.index {
    padding-top: 20px;
    text-align: center;
}



/********** section ***********/
#section {
    position: relative;
}
.best {
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    display:inline-block;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.picture_list {
    width: 60%;
    height: 300px;
    float:left;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.explain_picture {
    width: 40%;
    float:left;
    padding-left: 15px;
    box-sizing: border-box;
}

.move-top {
    display:inline-block;
    position:fixed;
    bottom:20px;
    right:50px;
}

.swiper-slide > img {width:100%;}
